@model SrbWeb.Models.Product

@{
    ViewData["Title"] = "Edit";
}

<div class="form">   
        <form asp-action="Edit">
            <div class="form-header">
                <div class="title">
                    <h1>Alterar</h1>
                </div>
            </div>
             <div class="input-group">
                   <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="input-box">
                        <label asp-for="ProductId" class="control-label"></label>
                        <input asp-for="ProductId" class="form-control" />
                        <span asp-validation-for="ProductId" class="text-danger"></span>
                    </div>
                    <div class="input-box">
                        <label asp-for="ProductEan" class="control-label"></label>
                        <input asp-for="ProductEan" class="form-control" />
                        <span asp-validation-for="ProductEan" class="text-danger"></span>
                    </div>
                     <div class="input-box">
                        <label asp-for="ProductCod" class="control-label"></label>
                        <input asp-for="ProductCod" class="form-control" />
                        <span asp-validation-for="ProductCod" class="text-danger"></span>
                    </div>
                    <div class="input-box">
                        <label asp-for="ProductName" class="control-label"></label>
                        <input asp-for="ProductName" class="form-control" />
                        <span asp-validation-for="ProductName" class="text-danger"></span>
                    </div>
                    <div class="input-box">
                        <label asp-for="ProductDescription" class="control-label"></label>
                        <input asp-for="ProductDescription" class="form-control" />
                        <span asp-validation-for="ProductDescription" class="text-danger"></span>
                    </div>
                    <div class="input-box">
                        <label asp-for="ProductPrice" class="control-label"></label>
                        <input asp-for="ProductPrice" class="form-control" />
                        <span asp-validation-for="ProductPrice" class="text-danger"></span>
                    </div>
                    <div class="input-box">
                        <label asp-for="ProductStock" class="control-label"></label>
                        <input asp-for="ProductStock" class="form-control" />
                        <span asp-validation-for="ProductStock" class="text-danger"></span>
                    </div>
                    <div class="input-box">
                        <label asp-for="DatePurchase" class="control-label"></label>
                        <input asp-for="DatePurchase" class=" form-control" />
                        <span asp-validation-for="DatePurchase" class="text-danger"></span>
                    </div>
                    <div class="input-box">                       
                        <select asp-for="CategoryId"  asp-items="ViewBag.Categories">
                            <option>--Selecione--</option>
                        </select>
                        <span asp-validation-for="CategoryId" class="text-danger"></span>
                    </div>
            <div class="continue-button">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
            </div>
        
        </form>
   
</div>

<div>
    <a asp-action="Index">Voltar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
