
@{
    ViewData["Title"] = "Contato";
}


    <section id="contato" class="formulario">
        <div class="interface">
            <h2 class="titulo">CONTATO</h2>

            <form class="form-contact" action="">
                <input class="inputcontact" type="text" name="" id="" placeholder="Seu nome completo:" required>
                <input class="inputcontact" type="text" name="" id="" placeholder="Seu e-mail:" required>
                <input class="inputcontact" type="text" name="" id="" placeholder="Seu celular:">
                <textarea class="inputcontact" name="" id="" placeholder="Sua mensagem" required></textarea>
                <div class="btn-enviar"><input type="submit" value="ENVIAR"></div>
            </form>
        </div>
    </section>


