
@{
    ViewData["Title"] = "Sobre";
}


    <section id="sobre" class="sobre">
        <div class="interface">
            <div class="flex">
                <div class="img-sobre">
                    <img src="images/foto.png" alt="">
                </div>

                <div class="txt-sobre">
                    <h2>MUITO PRAZER, <span>SOU SAMUEL.</span></h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. At accusantium ducimus dicta suscipit, neque cumque sunt tenetur totam delectus magnam minus ratione. Quidem sequi velit voluptatibus eos omnis ullam officiis.</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsam quidem quae iusto repellendus eaque, ipsum sed voluptate explicabo voluptas, dolorum porro sequi laudantium? Obcaecati quae, dolores illo officiis a numquam.</p>
                    <div class="btn-social">
                        <a href="#"><button><i class="bi bi-instagram"></i></button></a>
                        <a href="#"><button><i class="bi bi-youtube"></i></button></a>
                        <a href="#"><button><i class="bi bi-linkedin"></i></button></a>
                    </div>
                </div>
            </div><!--flex-->
        </div><!--interface-->
    </section><!--sobre-->


