
@{
    ViewData["Title"] = "Sobre";
}


    <section id="sobre" class="sobre">
        <div class="interface">
            <div class="flex">
                <div class="img-sobre">
                    <img src="images/foto.png" alt="">
                </div>

                <div class="txt-sobre">
                    <h2>MUITO PRAZER, <span>SOU SAMUEL.</span></h2>
                    <p>Atuo com desenvolvimento a mais de cinco anos tenho conhecimentos em diversas linguagem de programação estou sempre em constante aprendizado pois o mercado de tecnologia. </p>
                <p>
                    Tenho conhecimento em: Desenvolvimento backend: C, C#, Java, Php, Python, Nodes e JavaScript. Desenvolvimento frontend: Html, Css, Bootstrap. Desenvolvimento de aplicações no formato API Restfull. ORMs Sequelize, Axios e Fetch. IDEs: NetBeans, Visual Basic, Visual Code, Android Stúdio, Workbench e Dbeaver. Frameworks: ABP-Framework, Aps.Net, Blazor, WebAssembly,NetMaui,
                    CodeIgniter, Laravel 7.0, Ajax, Angular, React.Js,, Native,Tkinter, DJango e Flask. Metodologias Scrum e Kaban. Banco de Dados: SqlServer,Mysql e Oracle. Versionamento: GitHub, GitBucket e Jenkins. Rabbit, Docker e Rancher. SO: Windows e Linux.
                </p>
                    <div class="btn-social">
                        <a href="#"><button><i class="bi bi-instagram"></i></button></a>
                        <a href="#"><button><i class="bi bi-youtube"></i></button></a>
                        <a href="#"><button><i class="bi bi-linkedin"></i></button></a>
                    </div>
                </div>
            </div><!--flex-->
        </div><!--interface-->
    </section><!--sobre-->


