/* ESTILO GERAL */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,200;1,300;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
 }
html{
    position:fixed;

}

:root {
    --color-btn: #4682B4;
    --color-titulo: #424242;
    --color-subtitulo: #585858;
    --color-box: #4682B4;
}

body {
    background-color: #fff;
    height: 100vh;
}

/* ESTILO DO CABEÇALHO */

header nav { 
    display: flex;
    margin-top:5px;
    height: 80px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
}

nav .logo {
    color: white;
    font-size: 35px;
    font-weight: 600;
}

header .menu a:hover {
    color: #1E90FF;
    transform: scale(1.05);
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

header nav ul li {
    display: inline-block;
    padding: 0 40px;
}

header nav ul li a {
    color: #000;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header nav .menu-btn i {   
    cursor: pointer;
    display: none;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: var(--color-btn);
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    color: #fff;
    transition: .2s;
}

/*Searc*/
.search {
    width: 100%;
    position: relative;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 3px solid #4682B4;
    border-right: none;
    padding: 10px;
    height: 39px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #4682B4;
}

.searchTerm:focus {
    color: #00B4CC;
}

.searchButton {
    width: 40px;
    height: 38px;
    border: 1px solid #4682B4;
    background: #4682B4;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
    width: 30%;
    position: absolute;
    top: 17%;
    left: 82%;
    transform: translate(-50%, -50%);
   
}

/* ESTILO DO TOPO DO SITE */

section.topo-do-site {
    padding: 90px 7%;
}

section.topo-do-site .flex {
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1 {
    color: var(--color-titulo);
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span {
    color: #1E90FF;
}

.topo-do-site .txt-topo-site p {
    color: var(--color-subtitulo);
    margin: 40px 0;
}

.topo-do-site .img-topo-site img {
    position: relative;
    animation: flutuar 5s ease-in-out infinite alternate;
    border-radius: 50px;
}
/*Table*/


.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: #4682B4;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

.content-table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}

/*Formularios*/

.form {
    margin:5px;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 1rem;
}

.form-header {
    margin-bottom: 4rem;
    display: flex;
    justify-content: space-between;
}

.form-header h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 0.3rem;
    background-color: #4682B4;
    margin: 0 auto;
    position: absolute;
    border-radius: 10px;
}

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
}

.input-box input:hover {
    background-color: #eeeeee75;
}

.input-box select {
    margin: 1.9rem 1rem;
    padding: 0.8rem 1.3rem;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 6px #0000001c;
    font-size: 0.8rem;
}

.input-box select:hover {
    background-color: #eeeeee75;
}


.input-box input:focus-visible {
    outline: 1px solid #4682B4;
}
.input-box input::placeholder {
    color: #000000be;
}

.input-box select:focus-visible {
    outline: 1px solid #4682B4;
}

.input-box select::placeholder {
    color: #000000be;
}

.continue-button button {
    width: 100%;
    margin-top: 2.5rem;
    border: none;
    background-color: #6c63ff;
    padding: 0.62rem;
    border-radius: 5px;
    cursor: pointer;
}

.continue-button button:hover {
    background-color: #6b63fff1;
}

.continue-button button a {
    text-decoration: none;
    font-size: 0.93rem;
    font-weight: 500;
    color: #fff;
}

/*Media Queries*/

@media (max-width: 920px) {

    html {
        position: relative;
    }

    header nav .menu-btn i {
        color: #1E90FF;
        display: block;
        padding:0px;
    }

    header  nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background-color: #fff;
        height: 100vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }

    header  nav ul.open {
        left: 0;
    }

    header nav ul li {
        width: 100%;
        margin: 40px 0;
    }

    header  nav ul li a {
        font-size: 23px;
    }
   
    header nav ul li a:hover {
        background: none;
        color: #1E90FF;
    }
    .container .search {     
        margin-top: 82px;
    }
   
    .content-table {
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        min-width: 400px;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }


    .form {        
        margin: 70px;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        padding: 1rem;
    }

    .form-header {
        margin-bottom: 1rem;
        display: flex;
        justify-content: space-between;
    }

    .form-header h1::after {
        content: '';
        display: block;
        width: 5rem;
        height: 0.2rem;
        background-color: #4682B4;
        margin: 0 auto;
        position: absolute;
        border-radius: 10px;
    }

    .search {
       
        width: 100%;
        position: relative;
        display:none;
    }







}
/*FIm*/


